<h2>编辑文章</h2>
<%=link_to topic_url(@topic), method: "delete", class: "btn btn-primary pull-right", style: "position:relative;top:-44px;", data: {confirm: "确定要删除吗？"} do %>
<i class="glyphicon glyphicon-trash"></i> 删除
<% end %>

<%= render 'form' %>
